!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{ class: 'no-js' }
  <!--<![endif]-->
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible',  content: 'IE=edge'  }
    %title= current_page.data.title + " | Tom Dooner"
    %meta{ name: 'description', content: current_page.data.subtitle }
    %meta{ name: 'author', content: 'Tom Dooner' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = partial 'layouts/_og_tags.haml'
    = feed_tag :atom, '/feed.xml', title: 'Atom Feed'
    = feed_tag :rss, '/rss.xml', title: 'RSS 2.0 Feed'
    = stylesheet_link_tag "screen"
    = javascript_include_tag "all"

  %body{ class: current_page.data.bodyclass }
    /[if lt IE 8]
      %p.browsehappy
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

    .container
      #main-content{ role: "main" }
        - if current_page.url == '/'
          %aside.left
            .bottom
              %p.name= link_to 'Tom Dooner', '/'
              %p.title
                Software Engineer
                %a.company{ href: 'https://www.brigade.com', target: '_blank' } Brigade

        .right
          - unless current_page.url == '/'
            = link_to '/', class: 'back-to-blog' do
              %i.fa.fa-long-arrow-left
              Back to Blog

          %h1= current_page.data.title
          %h2= current_page.data.subtitle

          = yield

    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-586893-1');ga('send','pageview');
