---
title: Hi, I'm Tom
---

I'm a Software Engineer and I want to make my government better.
I work at
%a{ href: 'http://brigade.com' } Brigade
and also dabble on other random projects, including
= succeed ',' do
  %a{ href: 'http://opendisclosure.io' } OpenDisclosure
a tool to analyze Oakland mayoral campaign contributions.

- blog.articles[0...5].each do |article|
  %article
    - if article.data.externalurl
      %h3= link_to article.data.title, article.data.externalurl, target: '_new'
    - else
      %h3= link_to article.data.title, article.url

    = article.summary

    %p
      - if article.data.externalurl
        %a{ href: article.data.externalurl, target: '_new' } Read More on Medium
      - else
        %a{ href: article.url } Read More
      &middot;
      %time= article.date.strftime('%b %e, %Y')
